<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.act.quzhibo"
    android:versionCode="1"
    android:versionName="1.2.4">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.act.quzhibo.FileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>

    <application
        android:name=".common.MyApplicaition"
        android:allowBackup="true"
        android:persistent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.act.quzhibo.ui.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mabeijianxi.smallvideorecord2.MediaRecorderActivity" />

        <activity
            android:name="com.act.quzhibo.ui.activity.CourseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.NewFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104664609" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.act.quzhibo.ui.activity.ChatFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.PostAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.act.quzhibo.ui.activity.ClipImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.VipOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.ShareForMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.BGAPhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme" />
        <activity
            android:name="com.act.quzhibo.ui.activity.CheckOutMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.GetQuCoinsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.PuaCoursesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.ShowerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.download.activity.DownloadManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.FullScreenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.act.quzhibo.ui.activity.XImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.ShowerInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.act.quzhibo.ui.activity.WhoLikeThenSeeMeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.act.quzhibo.ui.activity.TabMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.RegisterNormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.MoneyCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.SquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.VideoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.VideoPlayerActivityLanscape"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.TermOfUseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.MineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.InfoNearPersonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.IntersetPostDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.act.quzhibo.ui.activity.IntersetPersonPostListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.MyFocusShowerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.InfoInterestPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.SettingMineInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.MyFocusPersonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.act.quzhibo.ui.activity.NearMediaVideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.MyPostDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.act.quzhibo.ui.activity.VIPConisTableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Holo.Dialog.CustomNoActionBar" />
        <activity
            android:name="com.act.quzhibo.ui.activity.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.act.quzhibo.ui.activity.RecordConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Holo.Dialog.CustomNoActionBar" />
        <activity
            android:name="com.act.quzhibo.ui.activity.MyPostListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.act.quzhibo.ui.activity.AudioPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Soundplayer" />

        <activity android:name="cn.bmob.pay.v3.act.PayAct" />
        <activity android:name=".ui.activity.GetVipPayActivity">
            <intent-filter>
                <action android:name="android.intent.action.PAY" />
                <category android:name="android.intent.category.PAY" />
            </intent-filter>
        </activity>


        <!--TODO 集成：1.5、配置IM SDK需要的广播和服务-->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />


        <!--TODO 集成：1.3、配置Bmob平台的应用密钥-->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="227399ddef86ccfa859443473306c43a" />
    </application>
</manifest>
